.page.index .view {
  text-align: center;

  .today {
    margin: $margin-standard auto;
    font-size: 1.5em;
    font-weight: 600;
    color: $color-text;
  }

  .plan {
    margin: $margin-standard auto;
    font-weight: 600;
    color: $color-text;
  }
}

