.page.biblecontent .view {
  .nav {
    font-size: 2em;
    margin: $margin-standard 0;
    width: 100%;
    .nav-item {
      font-weight: 600;
      color: $color-text;
      width: 33.33%;
      text-align: center;
      vertical-align: middle;
    }
    .nav-previous,
    .nav-controls,
    .nav-next {
      font-size: 0.5em;
    }
    .nav-controls {
      font-weight: normal;
      color: $color-unimportant;
      cursor: pointer;

      a.text-controls-verses {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  select.text-controls-bibles {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &::-ms-expand {
      display: none;
    }
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    color: $color-unimportant;
    outline: none;
    background: none;
    border: none;
    width: 35px;
  }

  .nav-current-info {
    color: $color-unimportant;
    .passages {
      a:hover {
        text-decoration: underline;
      }
    }
  }

  .watch {
    iframe {
      margin: $margin-standard 0 0 0;
      $video-width: 580px;
      $video-width-min: 200px;
      $video-height: 326px;
      width: $video-width;
      height: $video-height;
      @for $width from $video-width through $video-width-min {
        @media (max-width: $width) {
          width:$width;
          height:$width/$video-width*$video-height;
        }
      }
    }
  }

  h2 {
    margin: $margin-standard*2 0 $margin-standard 0;
    font-size: 1.5em;
    font-weight: 600;
    color: $color-text;
  }

  .text-controls-audio {
    display: none;
    cursor: pointer;
  }

  .time {
    font-size: 1em;
    color: $color-unimportant;
  }

  .text {
    margin: $margin-standard;
    font-size: 1.2em;
    line-height: 1.75em;
    font-weight: normal;
    color: $color-text;
    text-align: justify;

    /* source: biblesorg */
    &.biblesorg {
      p {
        &.p {
          margin: 1.25em 0;
        }
        &.pi {
          margin: 1.25em 1em;
        }
        &.q, &.q1 {
          text-indent: 1em;
        }
        &.q2, &.q3 {
          text-indent: 2em;
        }
      }
      .d, .s, .s1, .s2, .v, .r, .mr, .ms1 {
        display: none;
      }
      &.show-verses {
        .v {
          display: inline;
          font-weight: 300;
          font-size: smaller;
          color: $color-verses;
        }
      }
    }

    /* source: esvapi */
    &.esvapi {
      h2 {
        display: none;
      }
      p {
        margin: 2em 0;
      }
      .chapter-num, .verse-num {
        display: none;
      }
      .block-indent {
        margin: 0 2em;
      }
      &.show-verses {
        .chapter-num, .verse-num {
          display: inline;
          font-weight: 300;
          font-size: smaller;
          color: $color-verses;
        }
      }
    }

    &.netbibleapi {
      h3, .vref, p.psasuper {
        display: none;
      }
      p {
        margin: 2em 0;
        &.poetry {
          margin: 0;
          text-indent: 1em;
        }
      }
      i {
        font-style: italic;
      }
      &.show-verses {
        .vref {
          display: inline;
          font-weight: 300;
          font-size: smaller;
          color: $color-verses;
        }
      }
    }
  }
}

.page.passage .view {
  #reading-0 {
    margin-top: 40px;
  }
}

