{{define "page"}}day{{end}}

{{define "title"}}Day {{.Day.DayNumber}}{{end}}

{{define "copyright"}}
  {{range .Day.BiblePassages}}{{.Copyright | UnsafeHTML}}{{end}}
{{end}}

{{define "head"}}
  <script src="javascript/day.js" async="async"></script>
  <meta name="readprayrepeat:day" content="{{.Day.DayNumber}}">
{{end}}

{{define "tail"}}
  {{range .Day.BiblePassages}}{{.TrackingCode | UnsafeHTML}}{{end}}
{{end}}

{{define "content"}}
  <table class="nav">
    <tr>
      <td class="nav-item nav-previous">
        {{with .PreviousPage}}<a href="{{.Path}}"><i class="icon-left-circled"></i> Day {{.Day.DayNumber}}</a>{{end}}
      </td>
      <td class="nav-item nav-current">
        Day {{.Day.DayNumber}}
      </td>
      <td class="nav-item nav-next">
        {{with .NextPage}}<a href="{{.Path}}">Day {{.Day.DayNumber}} <i class="icon-right-circled"></i></a>{{end}}
      </td>
    </tr>
  </table>
  <div class="nav-current-info">
    <div class="nav-current-date">&nbsp;</div>
    <div class="passages">
      {{range $i, $r := .Day.References}}
      {{if $i}}&amp;{{end}}
      <a href="#reading-{{$i}}">{{$r}}</a>
      {{end}}
    </div>
    <div class="time">~{{.Day.TimeToCompleteInMinutes}} mins</div>
  </div>
  {{with .Day.WatchYoutubeId}}
  <div class="watch">
    <iframe allowfullscreen src="https://www.youtube.com/embed/{{.}}?rel=0&showinfo=0"></iframe>
  </div>
  {{end}}
  {{range $i, $bp := .Day.BiblePassages}}
  <div id="reading-{{$i}}">
    <h2>Read {{index $.Day.References $i}}</h2>
    <a class="text-controls-audio"></a>
    <div class="text {{$.Bible.Source}}">{{$bp.Html | UnsafeHTML}}</div>
  </div>
  {{end}}
  <table class="nav">
    <tr>
      <td class="nav-item nav-previous">
        {{with .PreviousPage}}<a href="{{.Path}}"><i class="icon-left-circled"></i> Day {{.Day.DayNumber}}</a>{{end}}
      </td>
      <td class="nav-item nav-controls">
        <a class="text-controls-verses">Verses</a>
      </td>
      <td class="nav-item nav-next">
        {{with .NextPage}}<a href="{{.Path}}">Day {{.Day.DayNumber}} <i class="icon-right-circled"></i></a>{{end}}
      </td>
    </tr>
  </table>
{{end}}
