{{define "page"}}index{{end}}

{{define "title"}}Start now{{end}}

{{define "head"}}
  <script src="javascript/localstorage.js"></script>
  <script src="javascript/bible.js"></script>
{{end}}


{{define "content"}}
  <script>
    var ONE_DAY_IN_SECONDS = 1000 * 60 * 60 * 24;

    var now = new Date();
    var start = new Date(now.getFullYear(), 0, 0);
    var diff = now - start;
    var today = Math.floor(diff / ONE_DAY_IN_SECONDS);
  </script>

  <div>
    Read the Bible in one year with videos by the <a href="https://www.youtube.com/user/jointhebibleproject">Bible Project</a>.
  </div>

  <div class="today">
    <script>
      if (today <= {{len .}}) {
          document.write('<a href="' + today + '">Read today, day ' + today + '<i class="icon-right-circled"></i></a>');
      }
    </script>
  </div>

  <div class="plan">
    <a href="/plan">View the reading plan</a><i class="icon-right-circled"></i>
  </div>

{{end}}
