{{define "page"}}index{{end}}

{{define "title"}}Start now{{end}}

{{define "content"}}
  <script>
    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    var now = new Date();
    var start = new Date(now.getFullYear(), 0, 0);
    var diff = now - start;
    var oneDay = 1000 * 60 * 60 * 24;
    var day = Math.floor(diff / oneDay);
  </script>

  <div class="today">
    <script>
      document.write('<a href="' + day + '">Today is day ' + day + ', start&nbsp;reading.<i class="icon-right-circled"></i></a>');
    </script>
  </div>

  <iframe allowfullscreen src="https://www.youtube.com/embed/7hUs4TXRuVk?rel=0&showinfo=0"></iframe>

  <div class="days">
    <div class="headings">
      <div></div>
      <div>Date</div>
      <div>Read</div>
      <div>Pray</div>
    </div>
    {{range $index, $day := .}}
    <a class="day" href="{{$day.DayNumber}}">
      <div class="number">{{$day.DayNumber}}</div>
      <div class="date">
        <script>
          (function () {
            var daysInTime = oneDay * {{$day.DayNumber}};
            var date = new Date(start.getTime() + daysInTime);
            var month = months[date.getMonth()];
            var dayOfMonth = date.getDate();
            document.write(month + ' ' + dayOfMonth);
          })();
        </script>
      </div>
      <div class="reading">{{$day.ReadingReference}}</div>
      <div calss="prayer">{{$day.PrayerReference}}</div>
    </a>
    {{end}}
  </div>

  <div class="days-continued">...</div>
{{end}}
