{{define "page"}}plan{{end}}

{{define "title"}}Reading plan{{end}}

{{define "content"}}
  <script>
    var ONE_DAY_IN_SECONDS = 1000 * 60 * 60 * 24;
    var now = new Date();
    var start = new Date(now.getFullYear(), 0, 0);
    var diff = now - start;
    var today = Math.floor(diff / ONE_DAY_IN_SECONDS);
  </script>

  <div>
    Read the Bible in one year starting January 1st, accompanied with videos by the <a href="https://www.youtube.com/user/jointhebibleproject">Bible Project</a> that share an overview of each book and theme.
  </div>

  <div class="today">
    <script>
        if (today <= {{len .}}) {
            document.write('<a href="' + today + pageSuffix + '">Read today, day ' + today + '<i class="icon-right-circled"></i></a>');
        }
    </script>
  </div>

  <div class="days">
    <div class="headings">
      <div></div>
      <div>Date</div>
      <div>Read</div>
      <div>Pray</div>
    </div>
    {{range $page := .}}
    <a class="day" href="{{$page.Day.DayNumber}}">
      <div class="number">{{$page.Day.DayNumber}}</div>
      <div class="date">{{$page.Date.Format "Jan 2" }}</div>
      <div class="reading">{{$page.Day.ReadingReference}}</div>
      <div calss="prayer">{{$page.Day.PrayerReference}}</div>
    </a>
    {{end}}
  </div>
{{end}}
