{{define "page"}}day{{end}}

{{define "title"}}{{.Reference}}{{end}}

{{define "copyright"}}
  {{.BiblePassage.Copyright | UnsafeHTML}}
{{end}}

{{define "head"}}
  <script src="javascript/day.js" async="async"></script>
{{end}}

{{define "tail"}}
  {{.BiblePassage.TrackingCode | UnsafeHTML}}
{{end}}

{{define "content"}}
  <table class="nav">
    <tr>
      <td class="nav-item nav-previous">
        {{with .PreviousPage}}<a href="{{.Path}}"><i class="icon-left-circled"></i> {{.Reference}}</a>{{end}}
      </td>
      <td class="nav-item nav-current">
        {{.Reference}}
      </td>
      <td class="nav-item nav-next">
        {{with .NextPage}}<a href="{{.Path}}">{{.Reference}} <i class="icon-right-circled"></i></a>{{end}}
      </td>
    </tr>
  </table>
  <div id="reading-0">
    <div class="text {{.Bible.Source}} show-verses">{{.BiblePassage.Html | UnsafeHTML}}</div>
  </div>
  <table class="nav">
    <tr>
      <td class="nav-item nav-previous">
        {{with .PreviousPage}}<a href="{{.Path}}"><i class="icon-left-circled"></i> {{.Reference}}</a>{{end}}
      </td>
      <td class="nav-item nav-controls">
        <a class="text-controls-verses">Verses</a>
      </td>
      <td class="nav-item nav-next">
        {{with .NextPage}}<a href="{{.Path}}">{{.Reference}} <i class="icon-right-circled"></i></a>{{end}}
      </td>
    </tr>
  </table>
{{end}}
